.no-margin{
  margin:0px;
}

.hand-cursor{
  cursor: pointer;
  cursor: hand;
}

.bold{
  font-weight:bold;
}

.cursive{
  font-style:italic;
}

.center{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  float: none;
}

.float-right{
  float:right;
}

.hide{
  display:none;
}

.fixed-bottom-right{
  position:fixed;
  bottom:0px;
  right:0px;
}

.inline{
	display:inline-block;
}