@h1_color: #363CFF;
@defaultLinkColor: #666;

@defaultFontSize: 13px;


/******************************
table vars
*******************************/

@tableHeaderBackgroundColor: 		#46617C;
@tableHeaderFontColor: 					white;
