<div ng-invoice id="invoice-show-page">
  
    <!-- head line -->
  
  <%= render :partial => 'pdf' %>
  
  <div class="actions">
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Tilbage', invoices_path, :class =>"btn btn-primary" %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Print Faktura', "/invoices/render_pdf?id=#{@invoice.id}" , :class =>"btn btn-success", :target => 'blank' %>
      </div>
    </div>
  </div>
</div>