<%= form_tag('/'+params[:controller]+'/search', :method => :get) do %>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="input-group">
      <% if @search_str %>
        <%= text_field :search, '', :class => 'form-control col-md-4 col-sm-4 col-xs-4', :value => @search_str, :id => 'search-field' %>
      <% else %>
        <%= text_field :search, '', :placeholder => placeholder, :class => 'form-control  col-md-4 col-sm-4 col-xs-4', :id => 'search-field' %>
      <% end %>
      <span class="input-group-addon with-btn"><%= submit_tag "Søg", :class => 'btn btn-info' %></span>
    </div>
  </div>
<% end %>

