<h1>Listing mobile_devices</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mobile_devices.each do |mobile_device| %>
      <tr>
        <td><%= link_to 'Show', mobile_device %></td>
        <td><%= link_to 'Edit', edit_mobile_device_path(mobile_device) %></td>
        <td><%= link_to 'Destroy', mobile_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobile device', new_mobile_device_path %>
