<p>Hej <%= @resource.email %>!</p>

<p>Du har modtaget denne mail fordi du har bedt om at få et nyt password til din profil på LoadmasterLoggerFMS. Klik på linket herunder for at vælge et nyt password: </p>

<p><%= link_to 'Få et nyt password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Hvis du ikke har bedt om at få et ny password så ignorer venligst denne mail.</p>
<p>Dit password vil IKKE blive ændret hvis du ikke klikker på linket ovenfor</p>
