<div class="control-group">
   <%= f.label :device_id, 'Device ID', :class => 'control-label' %>
  <div class="input">
    <%= f.text_field :username, :class => 'text_field' %>
  </div>
</div>
<p>dsad</p>

<div class="form-actions">
  <button class="btn btn-success" type="submit">Save</button> or
	<%= link_to "Cancel", admin_users_path, :class =>'btn btn-danger' %>
</div>
